.suggestions { padding:5px; }
.keywords_available { background-color: #ccffbb; }
label.calais_keyword { display:inline; padding:2px 5px; }
label.calais_keyword:hover { color:white; background:blue; }
label.calais_keyword_selected { color:white; background:blue; }


